{% extends 'base.html.twig' %}

{% block title %}Nouveau plat{% endblock %}

{% block body %}
    <h1>Créer un nouveau plat</h1>

    {{ include('admin_article/_form.html.twig') }}

    <a href="{{ path('app_admin_article_index') }}">Retour à la liste des plats</a>
{% endblock %}
