{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



<h1> Bienvenue sur le blog de French Moroccan</h1>

<img src={{asset ('images/maroc1.jpeg')}} width ="100%", background-size:cover>

<p>
    Des plats français et marocains
</p>



{% endblock %}
