{% extends 'base.html.twig' %}

{% block title %}Accueil French Moroccan{% endblock %}

{% block body %}





<header class="bg-dark py-4">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">French Moroccan</h1>
            <p class="lead fw-normal text-orange-50 mb-0">Bienvenue sur le blog du restaurant French Moroccan</p>
        </div>
    </div>
</header>
<br>




<div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="images/couscous.jpg" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Couscous</h5>
        <p class="card-text">
          Le couscous est d'une part une semoule de blé dur préparée à l'huile d'olive et d'autre part,
           une spécialité culinaire issue de la cuisine berbère.
        </p>
        
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="images/quichejpg.jpg" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Quiche</h5>
        <p class="card-text">
          La quiche est une tarte salée garnie, à base d'œufs battus et de crème.
           Elle connait diverses variantes depuis le Moyen Âge.
        </p>
        
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="images/huitresss.png" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Huîtres</h5>
      <p class="card-text">
        Mollusque marin bivalve, comestible, fixé aux rochers marins par une valve de sa coquille,
      </p>
      
    </div>
  </div>
</div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="images/tajine.jpg" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Tajine</h5>
      <p class="card-text">
        une sorte de ragoût cuit à l'étouffée qui peut être composé d'un mélange de viande, de volaille ou de poisson,
         de légumes ou de fruits et d'épices et d'huile d'olive.
      </p>
      
    </div>
  </div>
</div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="images/Gratin.jpg" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Gratin Dauphinois</h5>
      <p class="card-text">
        Le gratin dauphinois ou pommes de terre à la dauphinoise est un plat gratiné traditionnel
         de la cuisine française, d'origine dauphinoise, à base de pommes de terre et de lait. 
      </p>
      
    </div>
  </div>
</div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="images/rfiiisa.jpg" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Rfissa</h5>
      <p class="card-text">
        La rfissa est un mets culinaire marocain, à base de msemmen, d'un bouillon d'oignons,
         de gingembre, de coriandre,de safran, de ras el hanout et de
          l'indispensable fenugrec qui lui procure sa saveur.
      </p>
      
    </div>
  </div>
</div>
</div>




                
                

{% endblock %}
